//
//  base.xcconfig
//  
//
//  Created by JSilver on 2023/01/28.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Basic Setting
// Product name
PRODUCT_NAME = template
// Accent color
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = accent_color

// MARK: - Projdct Setting
// Base SDK
SDKROOT = iphoneos
// Deployment target(iOS)
IPHONEOS_DEPLOYMENT_TARGET = 15.0
// Version
MARKETING_VERSION = 1.0.0
//Build number
CURRENT_PROJECT_VERSION = 1

// MARK: - Build Setting
// Swift version
SWIFT_VERSION = 5
