//
//  Shared.xcconfig
//  
//
//  Created by JSilver on 2023/01/28.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Projdct Setting
// Product name
PRODUCT_NAME = _TEMPLATE_
// Info plist file path
INFOPLIST_FILE = $(TARGETNAME)/Support/Info.plist
// Development asset path
DEVELOPMENT_ASSET_PATHS = $(TARGETNAME)/Resource/Preview\ Content.xcassets
// Accent color
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = accent_color
// Bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = com.chaltteok-studio._TEMPLATE_
// Version
MARKETING_VERSION = 1.0.0
//Build number
CURRENT_PROJECT_VERSION = 1
// Deployment target(iOS)
IPHONEOS_DEPLOYMENT_TARGET = 15.7
// Base SDK
SDKROOT = iphoneos
// Targeted device family
TARGETED_DEVICE_FAMILY = 1,2
// Runpath search paths
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// MARK: - Build Setting
// Swift version
SWIFT_VERSION = 5

// MARK: - Code Sign
// Code sign style
CODE_SIGN_STYLE = Manual

// MARK: - User Define
// URL scheme
URL_SCHEME = _TEMPLATE_
